.about-cart {
  display: flex;
  padding-top: 40px;
  padding-bottom: 100px;

  &.odd {
    justify-content: flex-end;
  }
}

.about-cart__wrapper {
  max-width: 780px;
  width: 100%;
  background: $white;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.about-cart__title {
  font-family: Bebas Neue;
  font-weight: bold;
  font-size: 2.5rem;
  color: $blue;
  padding: 50px 50px 30px;
}

.about-cart__content {
  padding-left: 100px;
  padding-right: 120px;

  strong {
    font-weight: 600;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5rem;
  }
}

.about-cart__italic {
  padding: 40px 170px 15px;
  margin-top: 45px;
  text-align: center;
  background: rgba(#CACACA, .1);
}

.about-cart__italic-content {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 40px;
  font-family: PlayfairDisplay-Italic;
}

.about-cart__author {
  font-size: 1.125rem;
  font-weight: 800;
}