.banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
}

.banner__container {
  outline: 1px solid transparent;
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: url('../img/svg/banner-bg-blured.svg') no-repeat;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  background-size: 100% 100%;
}

.banner__text-1 {
  outline: 1px solid transparent;
  left: 43%;
  top: 40%;
  width: 14%;
  height: 6.8%;
  background: url(../img/svg/banner-img-1.svg) no-repeat;
  background-size: contain;
  position: absolute;
  transform: translateZ(520px) translateX(-50%) translateY(-50%);
  -moz-transform: translateZ(520px) translateX(-50%) translateY(-50%);
  -webkit-transform: translateZ(520px) translateX(-50%) translateY(-50%);
}

.banner__text-2 {
  outline: 1px solid transparent;
  left: 43.55%;
  top: 46%;
  width: 6.1%;
  height: 5.2%;
  background: url(../img/svg/banner-img-2.svg) no-repeat;
  background-size: contain;
  position: absolute;
  transform: translateZ(620px) translateX(-50%) translateY(-50%);
  -moz-transform: translateZ(620px) translateX(-50%) translateY(-50%);
  -webkit-transform: translateZ(620px) translateX(-50%) translateY(-50%);
}

.banner__text-3 {
  outline: 1px solid transparent;
  left: 41.5%;
  top: 50%;
  width: 4.6%;
  height: 4%;
  background: url(../img/svg/banner-img-3.svg) no-repeat;
  background-size: contain;
  position: absolute;
  transform: translateZ(720px) translateX(-50%) translateY(-50%);
  -moz-transform: translateZ(720px) translateX(-50%) translateY(-50%);
  -webkit-transform: translateZ(720px) translateX(-50%) translateY(-50%);

  @media (min-width: 1500px) {
    left: 42%;
  }
}

.banner__background {
  outline: 1px solid transparent;
  left: 50%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: url(../img/svg/banner-bg.svg) no-repeat;
  background-size: contain;
  position: absolute;
  transform: translateZ(0) translateX(-50%);
  -moz-transform: translateZ(0) translateX(-50%);
  -webkit-transform: translateZ(0) translateX(-50%);
}

.banner__content {
  position: absolute;
  max-width: 430px;
  width: 100%;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);

  .banner__content-title {
    color: $black;
    opacity: .5;
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .banner__content-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  a {
    //display: inline-block;
    text-decoration: none;
    margin-top: 35px;
  }
}
