.block-delimiter {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px dashed $blue;
  width: 100%;
}

.block-delimiter__subtitle {
  font-family: BebasNeue;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px 40px 3px;
  color: #3399FF;
  background: #ECF5FD;
  border-radius: 50px;
}