.img-n-text {
  margin-bottom: -40px;
}

.img-n-text__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 30px;

  .img-n-text.odd & {
    direction: rtl;
  }
}

.img-n-text__img-block {
  position: relative;
}

.img-n-text__img {
  width: 390px;
  height: 390px;
  margin: 155px 0;
}

.img-n-text__img,
.img-n-text__img-background {
  object-fit: cover;
  object-position: center center;
}

.img-n-text__img-background {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -66.5%;
  z-index: -1;
  opacity: .1;

  .img-n-text.odd & {
    left: auto;
    right: -66.5%;
  }
}

.img-n-text__text {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 50px;
  direction: ltr;

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .img-n-text__text-wrapper & {
    padding-right: 0;

    .img-n-text.odd & {
      text-align: right;
    }
  }

  .img-n-text.odd & {
    text-align: left;
  }

  strong {
    font-weight: 600;
  }
}

.img-n-text__text-wrapper {
  text-align: right;
  max-width: 585px;
  margin-left: 190px;
  margin-top: -40px;
}

.img-n-text__text--accent {
  color: $medium-grey;
  line-height: 1.4;
  margin-bottom: 45px!important;
  font-weight: 600;
  font-size: 1.375rem;

  ~ p {
    margin-left: 65px;
  }
}
