.l-text-n-text {
  margin-top: 45px;
}

.l-text-n-text__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;

  &_with-l {
    grid-template-columns: 2fr 1fr;
  }
}

.l-text-n-text__l-text {
  padding-left: 100px;
  padding-right: 30px;
  align-self: start;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: $blue;
}

.l-text-n-text__l-text + .l-text-n-text__text {
  align-self: start;
  font-size: .875rem;
  line-height: 1.375rem;
}

.l-text-n-text__text {
  font-size: 1rem;
  line-height: 1.75rem;
  padding-right: 100px;

  strong {
    font-weight: 600;
  }
}