.label {
  border-radius: 40px;
  font-size: 0.75rem;
  text-align: center;
  height: 25px;
  width: max-content;
  font-weight: 500;
  display: block;
  padding: 5px 15px;
}

.label--white {
  background-color: $white;
  color: $blue;
  border: 1px solid $blue;
}

.label--green {
  background: rgba($green, 0.1);
  color: $green;
  text-transform: uppercase;
}

.label--blue {
  color: $white;
  background: $blue;
}

.label--light-blue {
  background-color: #e7f5ff;
  color: $blue;
}

.label--event {
  margin-bottom: 10px;
}

.label--price {
  margin-top: 25px;
}

.label--next-month {
  z-index: 2;
  font-size: 1.5rem;
  font-family: BebasNeue, sans-serif;
  letter-spacing: 2px;
  height: 36px;
  padding: 8px 20px;
  margin-bottom: 90px;
}
