.partner {
  margin-bottom: 50px;
}

.partner__logo {
  width: 210px;
  height: 100px;
  object-fit: contain;
  object-position: left center;
  margin-bottom: 15px;
}

.partner__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.partner__link {
  color: #2F80ED;
}