.preloader__austria {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 2;

  @include keyframes(preloader-austria) {
    0% {
      transform: translate(-4000px, 0) scale(1.5);
    }
    25% {
      transform: translate(-4000px, 0) scale(1.5);
    }
    50% {
      transform: translate(0, 0) scale(1.5);
    }
    75% {

    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @include animation(preloader-austria 2s cubic-bezier(.4,0,0,1));
}

.preloader__ukraine {
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: 2;

  @include keyframes(preloader-ukraine) {
    0% {
      transform: translate(4000px, 0) scale(1.5);
    }
    25% {
      transform: translate(4000px, 0) scale(1.5);
    }
    50% {
      transform: translate(0, 0) scale(1.5);
    }
    75% {

    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @include animation(preloader-ukraine 2s cubic-bezier(.4,0,0,1));
}

.preloader__img-1 {
  position:absolute;
  z-index: 1;
  left: -160px;
  top: -130px;
  transform: scale(.5);

  @include keyframes(preloader-img-1) {
    0% {
      transform: translate(-4000px, 0) scale(2);
    }
    25% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(0, 0) scale(1);
    }
    75% {

    }
    100% {
      transform: translate(0, 0) scale(.5);
    }
  }

  @include animation(preloader-img-1 2s cubic-bezier(.4,0,0,1));
}

.preloader__img-2 {
  position:absolute;
  z-index: 1;
  right: -140px;
  bottom: -110px;
  transform: scale(.5);

  @include keyframes(preloader-img-2) {
    0% {
      transform: translate(4000px, 0) scale(2);
    }
    25% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(0, 0) scale(1);
    }
    75% {

    }
    100% {
      transform: translate(0, 0) scale(.5);
    }
  }

  @include animation(preloader-img-2 2s cubic-bezier(.4,0,0,1));
}