.quote-w-bg {
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
  padding: 110px 0;
  text-align: center;
  color: #2C3A44;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
  }
}

.quote-w-bg__quote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  width: 100%;
  font-family: PlayfairDisplay-Italic;
  font-size: 2.25rem;
  line-height: 3.6rem;
  margin-bottom: 55px;

}

.quote-w-bg__author {
  font-weight: bold;
  font-size: 1.125rem;
}