.text-w-video {
  padding: 90px 0;
}

.text-w-video__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.text-w-video__text {
  margin-left: 75px;
  max-width: 600px;
  width: 100%;
  line-height: 1.5rem;
}

.text-w-video__text-small {
  font-weight: 600;
  font-size: .875rem;
  color: $blue;
  line-height: 1.375rem;
  max-width: 500px;
  width: 100%;
}

.text-w-video__v-link {
  width: 102px;
  height: 102px;
  background: url(../img/svg/video-btn.svg) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 20px 50px rgba(51, 153, 255, 0.4);
  margin-right: 287px;
}