.title-n-text {
  margin-bottom: 45px;
}

.title-n-text__title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.25rem;
  max-width: 390px;
  width: 100%;
  margin-bottom: 40px;
}

.title-n-text__text {
  margin-left: 70px;
  max-width: 570px;
  width: 100%;
  line-height: 1.5rem;
}