.vertical-lines {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1171px;
  height: 100%;
  display: block;
  font-size: 0;
  pointer-events: none;

  @media (max-width: 1300px) {
    width: 1720px;
  }

  @media (max-width: 991px) {
    width: 135%;
  }
}

.vertical-lines__line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  height: 100%;
  transform: scaleY(0);
  border-left: 1px solid $light-grey;
  width: 33.3%;
  transform-origin: top;
  animation: growing linear 1.3s forwards;

  &:last-child {
    border-right: 1px solid $light-grey;
  }

  &:nth-of-type(1) {
    animation-delay: 0s;
  }

  &:nth-of-type(2) {
    animation-delay: 0.4s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.8s;
  }
}


@keyframes growing  {
  100% {
    transform: scaleY(1);
  }
}
