.link-back {
  color: $black;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: block;
  z-index: 3;
  margin-left: 40%;
  width: max-content;
  top: -60px;

  &::before {
    content: url("../img/svg/back-arrow.svg");
    position: absolute;
    bottom: -15px;
    left: 0;
    transition: transform 0.2s;
  }

  &:hover {
    &::before {
      transform: translateX(-50px);
    }
  }
}
