.event-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 50%;

  &::before {
    content: '';
    background: linear-gradient($white, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.event-hero {
  min-height: calc(100vh - 165px);
}

.event-img--impression {
  width: 100%;
  height: 100%;
}

.event-hero__title {
  font-size: 4.5rem;
  padding-top: 40px;
  font-family: BebasNeue, sans-serif;
  position: relative;
  padding-left: 65px;
  max-width: 440px;

  .event-hero--impression-white & {
    color: $blue;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    background: $blue;
    box-shadow: -10px 10px 40px rgba($blue, 0.6);
    width: 50%;
    left: 0;
    top: 0;
    height: 110%;

    .event-hero--impression-white & {
      content: none;
    }
  }
}

.info-wrapper {
  margin-top: 65px;
  background-color: $white;
  display: flex;
  padding-bottom: 40px;
}

.info-section {
  flex: 1 0 31%;
}

.info-section__item {
  margin-bottom: 40px;
}

.info-section__item-text {
  font-weight: 600;
  max-width: 230px;
  margin-top: 18px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  position: relative;
}

.label-wrapper {
  display: flex;
  margin-bottom: 30px;
  
  .label {
    margin-right: 30px;
  }
}

.event-hero--impression {
  z-index: 4;
  position: relative;

  .info-wrapper {
    background-color: transparent;
    color: $white;
  }

  .event-hero__title {
    color: $white;
    padding-left: 0;
    margin-top: 50px;

    &::before {
      display: none;
    }
  }
}

.impression {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: rgba($black, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
  }
}

.event-hero__video-button {
  background-color: $blue;
  width: 120px;
  position: absolute;
  height: 120px;
  border: 0;
  cursor: pointer;
  top: 40px;
  outline: 0;
  right: 15%;
  transition: background-color 0.3s;

  &::after {
    content: '';
    background: url("../img/svg/play-icon.svg") no-repeat center;
    position: absolute;
    top: 7%;
    left: 10%;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: $raspberry;
  }
}
