.events-wrapper {
  margin-top: 52px;
}

.event {
  border: 1px solid $light-grey;
  display: flex;
  width: 100%;
  margin-top: 32px;
  padding-right: 22px;
  background: $white;
  justify-content: space-between;
}

.event:nth-child(even) {
  .event-part::before {
    background-color: $raspberry;
    box-shadow: 1px 9px 50px 2px rgba($raspberry, 0.4);
  }

  .event__location::before {
    content: url('../img/svg/location-red.svg');
  }
}

.event:nth-child(odd) {
  .event-part::before {
    background-color: $blue;
    box-shadow: 1px 9px 50px 2px rgba($blue, 0.5);
  }

  .event__location::before {
    content: url('../img/svg/location-blue.svg');
  }
}

.event__img {
  margin-right: 85px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.event-part {
  padding: 25px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-part:first-child {
  position: relative;
  padding: 0;
  flex: 1 0 300px;

  &::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    left: 107.5%;
    top: 27%;
    z-index: 1;
    transform: rotate(-45deg)  translate(-50%, -50%);
    background: $blue;
  }
}

.event__label {
  position: absolute;
  left: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  color: $white;
  text-align: center;
  z-index: 1;
}

.event__label-time {
  z-index: 1;
  margin-top: 10px;
}


.event-part--middle {
  flex: 1 0 530px;
  margin-right: 60px;
  margin-left: 90px;
}

.event__location {
  color: $dark-grey;
  margin-top: 15px;
  min-width: 130px;
  font-weight: 600;
  position: relative;
  padding-left: 18px;

  &::before {
    position: absolute;
    left: -3px;
    top: -2px;
  }
}

.event__partner-heading {
  color: $blue;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 25px;
  font-family: "BebasNeue", sans-serif;
}



.event__partner {
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
  min-width: 150px;
  line-height: 1.4;
}


.events-wrapper--blured {
  position: relative;
  margin-top: 90px;

  .event {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: rgba($white, 0.5);
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  &::before {
    content: '';
    border-top: 1px dashed #39f;
    height: 3px;
    top: 17px;
    width: 100vw;
    z-index: 0;
    position: absolute;
  }
}

.event-social-media__link {
  display: inline-block;
  margin: 0 20px 20px 0;
  text-decoration: none;
  transition: filter 0.15s;

  &:hover {
    filter: brightness(80%);
  }
}

.single-event {
  padding-bottom: 60px;
}
