.filters {
  display: flex;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 300px;
}

.filter--impressions {
  margin-left: 232px;
}

.filter-item__name {
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  width: max-content;

  &::before {
    content: url('../../img/svg/arrow-down.svg');
    position: absolute;
    right: -15px;
  }
}

.filter-item {
  margin-right: 120px;
}

.filter-section {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}
