.footer {
  display: flex;
  position: relative;
  z-index: 4;
  align-items: center;
  height: 134px;
  background-color: #f2f2f2;
}

.copyright {
  font-size: 0.875rem;
  color: $blue;
  margin-left: 70px;
  line-height: 1.5;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 655px;
}

.footer-nav__link {
  text-decoration: none;
  color: #2C3A44;
  text-transform: uppercase;
  position: relative;
  font-family: BebasNeue, sans-serif;
  font-size: 1.125rem;

  &::before {
    content: '';
    position: absolute;
    background-color: $blue;
    height: 2px;
    width: 110%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) scaleX(0);
    transition: transform 0.13s;
    transform-origin: left;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translate(-50%, -50%) scaleX(1);
    }
  }
}

.footer__logo {
  position: absolute;
  left: 10px;
}
