.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__logo {
  margin-left: 15px;
  margin-top: 15px;
  align-self: flex-start;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 135px;
  background: #F1F2F1;
}

.header__nav-item {
  position: relative;
  font-family: BebasNeue;
  font-size: 1.5rem;
  color: #8F969A;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: padding-left .4s ease .1s, color .4s ease .1s;

  &:before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    background: $blue;
    max-width: 0;
    width: 100%;
    height: 2px;
    transition: max-width .3s ease .1s;
  }

  &:hover,
  &.active {
    padding-left: 10px;
    color: $black;

    &:before {
      max-width: 100%;
    }
  }
}