.impressions {
  position: relative;
  margin: 60px auto 0;
  max-width: 1170px;
}

.impression-item {
  width: 31.6%;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;

  &:hover {
    .impression-item__hover-wrapper {
      opacity: 1;
    }
  }

  &:nth-child(odd) {
    height: 360px;

    &:hover {
      .impression-item__hover-wrapper::after {
          background: $blue;
        }
    }
  }

  &:nth-child(even) {
    height: 750px;

    &:hover {
      .impression-item__hover-wrapper::after {
        background: $raspberry;
      }
    }
  }
}

.impression-item__img {
  width: 100%;
  height: 100%;
}

.impression-item__hover-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($black, 0.7);
  color: $white;
  width: 100%;
  text-align: center;
  height: 100%;
  transition: opacity 0.5s;
  &::after {
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: left;
  }
}

.impression-item-info {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 220px;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.impression-item-info__title {
  font-size: 2.25rem;
  font-family: "BebasNeue", sans-serif;
  margin: 15px auto;
}

.impression-item-info__date,
.impression-item-info__sector {
  font-size: 12px;
  font-weight: 600;
}

.impression-item-info__location {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
  line-height: 1.8;
  max-width: 215px;
  text-align: center;
}
