.button {
  text-align: center;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  background: $orange;
  border: 0;
  color: $white;
  display: block;
}

.button--more {
  width: 65px;
  padding: 4px;
  height: 25px;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
}

.button--all {
  display: inline-block;
  width: auto;
  font-weight: bold;
  height: 40px;
  color: $black;
  background: $orange;
  box-shadow: 0 20px 50px rgba(255, 191, 21, 0.2);
  border-radius: 5px;
  padding: 13px 45px;
}

.button--buy-ticket {
  background-color: $white;
  text-decoration: none;
  font-weight: 600;
  padding: 5px;
  border: 1px solid $orange;
  border-radius: 5px;
  color: $black;
  font-size: 0.75rem;
  height: 24px;
  width: 95px;
  margin-top: 15px;
  transition: background-color 0.15s;

  &:hover {
    background-color: $orange;
  }
}

.button--calendar {
  background-color: rgba($orange, 0.15);
  color: $orange;
  left: 150px;
  position: absolute;
  font-size: 0.75rem;
  font-weight: 600;
  width: 150px;
  top: -12px;
  cursor: pointer;
  padding: 9px 0 11px 20px;
  transition: background-color 0.1s;

  &:hover {
    background-color: rgba($orange, 0.21);
  }

  &::before {
    content: url("../img/svg/calendar.svg");
    position: absolute;
    top: 4px;
    left: 8px;
  }
}
