html {
  @media (max-width: 574px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  position: relative;
  margin: 0 auto 0;
  padding: 0 20px;
  width: 1210px;
  z-index: 2;

  @media (max-width: 340px) {
    height: 110vh;
  }

  @media (max-width: 767px) and (orientation: landscape) {
    min-height: 800px;
  }

  @media (max-width: 1300px) {
    width: 1145px;
  }

  @media (max-width: 1150px) {
    width: 970px;
  }

  @media (max-width: 991px) {
    width: calc(100% - 30px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container--footer {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
  object-fit: cover;
}
main {
  padding-top: 150px;
}
