.block-title {
  font-size: 2.5rem;
  color: $black;
  position: relative;
  z-index: 1;
  width: max-content;
  font-family: "BebasNeue", sans-serif;
  user-select: none;
  max-height: 32px;

  &::before {
    content: '';
    background: $blue;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 36px;
    height: 3px;
    z-index: -1;
    position: absolute;
  }

  &::after {
    content: '';
    background: $raspberry;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 36px;
    z-index: -1;
    height: 3px;
    position: absolute;
  }
}

.block-title__background {
  position: absolute;
  left: 0;
  top: 50%;
  color: $light-grey;
  transform: translateY(-50%);
  font-size: 5rem;
  width: max-content;
  font-family: "BebasNeue", sans-serif;
  user-select: none;
}

.heading {
  font-size: 2rem;
  font-family: "BebasNeue", sans-serif;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
}

.text--event-info {
  margin-top: 20px;
  max-width: 530px;
}
