.partners__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}

.partners__sponsors {
  position: relative;
  background: rgba(215,215,215,0.15);
  padding-top: 10px;
}