<footer class="footer">
  <img src="./img/logo.svg" class="footer__logo" alt="Austria Ukraine">
  <div class="container container--footer">
    <div class="copyright">
      <p>Copyright &copy;</p>
      <p> All rights reserved</p>
    </div>
    <nav class="footer-nav">
      <a href="#" class="footer-nav__link">Home</a>
      <a href="#" class="footer-nav__link">About</a>
      <a href="#" class="footer-nav__link">Calendar</a>
      <a href="#" class="footer-nav__link">Impressions</a>
      <a href="#" class="footer-nav__link">Voices</a>
      <a href="#" class="footer-nav__link">Partners</a>
      <a href="#" class="footer-nav__link">Contacts</a>
    </nav>
  </div>
</footer>
