<header class="header">
    <a href class="header__logo">
        <img src="./img/svg/logo.svg" alt="logo">
    </a>

    <nav class="header__nav">
        <a href class="header__nav-item active">Home</a>
        <a href class="header__nav-item">About</a>
        <a href class="header__nav-item">Events</a>
        <a href class="header__nav-item">Impressions</a>
        <a href class="header__nav-item">Partners</a>
        <a href class="header__nav-item">Participate</a>
        <div class="header__nav-wrapper">

        </div>
    </nav>
</header>