<style>
    .preloader__austria {
        position:absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .preloader__ukraine {
        position:absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .preloader__img-1 {
        position:absolute;
        z-index: 1;
        left: -160px;
        top: -130px;
        transform: scale(.5);
    }

    .preloader__img-2 {
        position:absolute;
        z-index: 1;
        right: -140px;
        bottom: -110px;
        transform: scale(.5);
    }
</style>
<div class="preloader" style="background: #fff;
position: fixed; top: 0; left: 0; right: 0; bottom: 0;
z-index: 20;
transition: opacity .3s ease 1s;
">
    <div class="preloader__wrapper" style="position:absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 386px; height: 95px;">
        <svg style="" class="preloader__austria" width="276" height="41" viewBox="0 0 276 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.576 33.0137H15.88L13.303 39.7697H0L16.9248 1.04468H29.7402L46.665 39.7697H33.153L30.576 33.0137ZM26.9543 23.611L23.1932 13.8601L19.4321 23.611H26.9543Z" fill="#090012"/>
            <path d="M53.1424 35.8693C49.7992 32.6654 48.1973 28.1382 48.1973 22.3573V1.04468H61.2217V21.9395C61.2217 24.7951 61.7092 26.8149 62.754 28.1382C63.7987 29.4616 65.2613 30.0884 67.1419 30.0884C69.092 30.0884 70.5547 29.4616 71.5298 28.1382C72.5745 26.8149 73.0621 24.7951 73.0621 21.9395V1.04468H85.8775V22.3573C85.8775 28.1382 84.2059 32.6654 80.9324 35.8693C77.5892 39.0732 72.9924 40.6751 67.0722 40.6751C61.0824 40.6751 56.4855 39.0732 53.1424 35.8693Z" fill="#090012"/>
            <path d="M97.4396 39.5608C94.375 38.8643 91.8677 37.8892 89.9175 36.6355L94.0964 27.0936C95.9073 28.1383 97.9968 29.0437 100.295 29.6706C102.594 30.2974 104.753 30.6457 106.842 30.6457C108.653 30.6457 109.907 30.4367 110.743 30.0885C111.509 29.7402 111.927 29.183 111.927 28.4865C111.927 27.6507 111.439 27.0936 110.394 26.6757C109.35 26.2578 107.678 25.8399 105.38 25.3523C102.385 24.7255 99.8773 24.029 97.9271 23.3325C95.9073 22.636 94.2357 21.452 92.7035 19.7804C91.2408 18.1088 90.4747 15.9497 90.4747 13.0941C90.4747 10.6563 91.1712 8.42756 92.4945 6.47738C93.8875 4.45755 95.9073 2.92527 98.6236 1.74123C101.34 0.626843 104.613 0 108.514 0C111.161 0 113.807 0.278595 116.315 0.835789C118.892 1.39298 121.12 2.22877 123.071 3.34316L119.17 12.8155C115.339 10.8653 111.787 9.95984 108.375 9.95984C105.031 9.95984 103.36 10.7956 103.36 12.3976C103.36 13.1637 103.847 13.7209 104.822 14.1388C105.798 14.5567 107.469 14.9746 109.768 15.3925C112.693 15.9497 115.2 16.5765 117.22 17.273C119.24 17.9695 120.981 19.1535 122.513 20.7555C123.976 22.3574 124.742 24.5862 124.742 27.3722C124.742 29.8099 124.046 32.0387 122.722 33.9888C121.329 35.939 119.309 37.5409 116.593 38.725C113.877 39.909 110.603 40.4662 106.703 40.4662C103.638 40.6752 100.504 40.2573 97.4396 39.5608Z" fill="#090012"/>
            <path d="M184.849 30.0188H181.297V39.7697H168.272V1.04468H186.869C190.421 1.04468 193.555 1.60187 196.202 2.78591C198.848 3.96995 200.938 5.64153 202.331 7.8703C203.794 10.0991 204.49 12.6761 204.49 15.6014C204.49 18.3873 203.863 20.7554 202.61 22.8449C201.356 24.9344 199.545 26.5363 197.177 27.79L205.326 39.7697H191.396L184.849 30.0188ZM190.003 12.3279C189.098 11.5617 187.774 11.1438 186.033 11.1438H181.297V20.1982H186.033C187.774 20.1982 189.098 19.7803 190.003 19.0142C190.908 18.248 191.326 17.1337 191.326 15.671C191.326 14.2084 190.908 13.094 190.003 12.3279Z" fill="#090012"/>
            <path d="M211.385 1.04468H224.41V39.7697H211.385V1.04468Z" fill="#090012"/>
            <path d="M259.095 33.0137H244.399L241.822 39.7697H228.519L245.444 1.04468H258.259L275.184 39.7697H261.672L259.095 33.0137ZM255.473 23.611L251.712 13.8601L247.951 23.611H255.473Z" fill="#090012"/>
            <path d="M137.418 11.1438H126.205V1.04468H161.726V11.1438H150.512V39.7697H137.418V11.1438Z" fill="#090012"/>
        </svg>
        <svg style="" class="preloader__ukraine" width="273" height="40" viewBox="0 0 273 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.9451 34.755C1.67158 31.5511 0 27.0936 0 21.243V0H13.0244V20.8948C13.0244 23.7504 13.512 25.7702 14.5567 27.0936C15.6014 28.4169 17.0641 29.0437 18.9446 29.0437C20.8948 29.0437 22.3574 28.4169 23.3325 27.0936C24.3772 25.7702 24.8648 23.7504 24.8648 20.8948V0H37.6802V21.3127C37.6802 27.0936 36.0087 31.6208 32.7351 34.8246C29.392 38.0285 24.7951 39.6304 18.8749 39.6304C12.9548 39.5608 8.28826 37.9588 4.9451 34.755Z" fill="#090012"/>
            <path d="M58.9232 25.8399L55.9979 29.1134V38.6553H43.1128V0H55.9283V14.0691L68.6741 0H82.8825L67.4204 16.9944L83.6487 38.6553H68.6044L58.9232 25.8399Z" fill="#090012"/>
            <path d="M101.897 28.9741H99.3198V38.725H86.2954V0H103.986C107.538 0 110.673 0.557194 113.319 1.74123C115.966 2.92527 118.055 4.59685 119.448 6.82563C120.911 9.0544 121.608 11.6314 121.608 14.5567C121.608 17.3427 120.981 19.7107 119.727 21.8002C118.473 23.8897 116.662 25.4916 114.294 26.7453L122.443 38.725H108.514L101.897 28.9741ZM107.121 11.2135C106.215 10.4474 104.892 10.0295 103.151 10.0295H99.3895V19.0839H103.151C104.892 19.0839 106.215 18.666 107.121 17.8999C108.026 17.1337 108.444 16.0193 108.444 14.5567C108.444 13.0941 107.956 12.0493 107.121 11.2135Z" fill="#090012"/>
            <path d="M155.388 31.969H140.692L138.115 38.725H124.812L141.737 0H154.552L171.477 38.725H157.965L155.388 31.969ZM151.836 22.5664L148.075 12.8155L144.314 22.5664H151.836Z" fill="#090012"/>
            <path d="M174.75 0H187.774V38.725H174.75V0Z" fill="#090012"/>
            <path d="M232.768 0V38.725H222.042L207.346 21.1037V38.725H194.6V0H205.326L220.092 17.5516V0H232.768Z" fill="#090012"/>
            <path d="M272.398 28.8348V38.6553H240.22V0H271.702V9.82054H253.036V14.3477H269.403V23.7504H253.036V28.8348H272.398Z" fill="#090012"/>
        </svg>
        <svg style="" class="preloader__img-1" width="512" height="324" viewBox="0 0 512 324" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M138.292 54.7964C146.135 54.7964 152.492 48.4388 152.492 40.5962C152.492 32.7536 146.135 26.396 138.292 26.396C130.45 26.396 124.092 32.7536 124.092 40.5962C124.092 48.4388 130.45 54.7964 138.292 54.7964Z" fill="#ED063D"/>
            <path d="M78.6911 106.597C82.2258 106.597 85.0912 103.732 85.0912 100.197C85.0912 96.6623 82.2258 93.7969 78.6911 93.7969C75.1564 93.7969 72.291 96.6623 72.291 100.197C72.291 103.732 75.1564 106.597 78.6911 106.597Z" fill="#ED063D"/>
            <path d="M227.494 264.399C235.999 264.399 242.894 257.504 242.894 248.999C242.894 240.494 235.999 233.599 227.494 233.599C218.988 233.599 212.094 240.494 212.094 248.999C212.094 257.504 218.988 264.399 227.494 264.399Z" fill="#2595E8"/>
            <path d="M346.695 324C355.2 324 362.095 317.105 362.095 308.6C362.095 300.094 355.2 293.2 346.695 293.2C338.19 293.2 331.295 300.094 331.295 308.6C331.295 317.105 338.19 324 346.695 324Z" fill="#ED063D"/>
            <path d="M495.497 116.397C504.445 116.397 511.698 109.144 511.698 100.197C511.698 91.2497 504.445 83.9966 495.497 83.9966C486.55 83.9966 479.297 91.2497 479.297 100.197C479.297 109.144 486.55 116.397 495.497 116.397Z" fill="#ED063D"/>
            <path d="M435.896 113.597C443.297 113.597 449.297 107.598 449.297 100.197C449.297 92.7961 443.297 86.7966 435.896 86.7966C428.496 86.7966 422.496 92.7961 422.496 100.197C422.496 107.598 428.496 113.597 435.896 113.597Z" fill="#ED063D"/>
            <path d="M376.496 232.799C383.897 232.799 389.896 226.799 389.896 219.399C389.896 211.998 383.897 205.998 376.496 205.998C369.095 205.998 363.096 211.998 363.096 219.399C363.096 226.799 369.095 232.799 376.496 232.799Z" fill="#ED063D"/>
            <path d="M316.85 266.085L303.981 278.955L316.85 291.824L329.72 278.955L316.85 266.085Z" fill="#ED063D"/>
            <path d="M346.726 170.895L328.058 189.563L346.726 208.231L365.394 189.563L346.726 170.895Z" fill="#ED063D"/>
            <path d="M316.976 8.51902L284.873 40.6218L316.976 72.7246L349.078 40.6218L316.976 8.51902Z" fill="#ED063D"/>
            <path d="M108.35 108.923L87.2781 129.995L108.35 151.067L129.422 129.995L108.35 108.923Z" fill="#ED063D"/>
            <path d="M97.6726 21.8003L119.473 21.8003V-2.67029e-05L97.6726 -2.67029e-05V21.8003Z" fill="#ED063D"/>
            <path d="M187.115 289.525H208.515V268.124H187.115V289.525Z" fill="#ED063D"/>
            <path d="M337.241 79.9009H356.241V60.9006H337.241V79.9009Z" fill="#FFBF15"/>
            <path d="M390.544 86.2949H422.144V54.6945H390.544V86.2949Z" fill="#ED063D"/>
            <path d="M197.811 19.6261L176.739 40.698L197.811 61.7699L218.883 40.698L197.811 19.6261Z" fill="#ED063D"/>
            <path d="M248.408 49.5566H266.409V31.5564L248.408 31.5564V49.5566Z" fill="#ED063D"/>
            <path d="M48.963 59.8749L36.3765 72.4614L48.963 85.048L61.5496 72.4614L48.963 59.8749Z" fill="#ED063D"/>
            <path d="M168.093 17.5958C171.848 17.5958 174.893 14.5513 174.893 10.7957C174.893 7.04011 171.848 3.99561 168.093 3.99561C164.337 3.99561 161.292 7.04011 161.292 10.7957C161.292 14.5513 164.337 17.5958 168.093 17.5958Z" fill="#2595E8"/>
            <path d="M257.369 206.404L244.5 219.273L257.369 232.142L270.239 219.273L257.369 206.404Z" fill="#ED063D"/>
            <path d="M197.927 210.544L189.158 219.312L197.927 228.08L206.695 219.312L197.927 210.544Z" fill="#ED063D"/>
            <path d="M138.292 169.798C143.815 169.798 148.292 165.321 148.292 159.798C148.292 154.275 143.815 149.798 138.292 149.798C132.769 149.798 128.292 154.275 128.292 159.798C128.292 165.321 132.769 169.798 138.292 169.798Z" fill="#ED063D"/>
            <path d="M287.094 266.399C296.704 266.399 304.494 258.609 304.494 248.999C304.494 239.389 296.704 231.599 287.094 231.599C277.484 231.599 269.694 239.389 269.694 248.999C269.694 258.609 277.484 266.399 287.094 266.399Z" fill="#ED063D"/>
            <path d="M6.11867e-05 159.797L19.092 178.889L38.184 159.797L19.092 140.705L6.11867e-05 159.797Z" fill="#ED063D"/>
            <path d="M197.744 150.532L188.552 159.725L197.744 168.917L206.937 159.725L197.744 150.532Z" fill="#ED063D"/>
            <path d="M399.729 136.589H412.729V123.589H399.729V136.589Z" fill="#ED063D"/>
            <path d="M435.938 143.728L419.958 159.709L435.938 175.69L451.919 159.709L435.938 143.728Z" fill="#ED063D"/>
            <path d="M48.8906 139.197C53.9717 139.197 58.0907 135.078 58.0907 129.997C58.0907 124.916 53.9717 120.797 48.8906 120.797C43.8095 120.797 39.6904 124.916 39.6904 129.997C39.6904 135.078 43.8095 139.197 48.8906 139.197Z" fill="#2595E8"/>
        </svg>
        <svg style="" class="preloader__img-2" width="456" height="230" viewBox="0 0 456 230" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M214.087 74.7998C221.157 74.7998 226.888 69.0689 226.888 61.9994C226.888 54.93 221.157 49.1991 214.087 49.1991C207.018 49.1991 201.287 54.93 201.287 61.9994C201.287 69.0689 207.018 74.7998 214.087 74.7998Z" fill="#ED063D"/>
            <path d="M278.089 193.003C286.153 193.003 292.69 186.466 292.69 178.403C292.69 170.339 286.153 163.802 278.089 163.802C270.026 163.802 263.489 170.339 263.489 178.403C263.489 186.466 270.026 193.003 278.089 193.003Z" fill="#ED063D"/>
            <path d="M406.893 200.003C418.822 200.003 428.493 190.332 428.493 178.402C428.493 166.473 418.822 156.802 406.893 156.802C394.963 156.802 385.292 166.473 385.292 178.402C385.292 190.332 394.963 200.003 406.893 200.003Z" fill="#ED063D"/>
            <path d="M438.772 1.78322L422.226 18.3298L438.772 34.8764L455.319 18.3298L438.772 1.78322Z" fill="#ED063D"/>
            <path d="M99.9225 178.444L86.063 164.585L72.2034 178.444L86.063 192.304L99.9225 178.444Z" fill="#ED063D"/>
            <path d="M228.488 163.802H199.487V192.803H228.488V163.802Z" fill="#FFBF15"/>
            <path d="M355.091 166.202H330.49V190.803H355.091V166.202Z" fill="#ED063D"/>
            <path d="M326.167 34.5012V7.50049L299.166 7.50049V34.5012H326.167Z" fill="#ED063D"/>
            <path d="M128.885 136.202H108.484V156.602H128.885V136.202Z" fill="#ED063D"/>
            <path d="M310.22 191.333L291.128 210.426L310.22 229.518L329.313 210.426L310.22 191.333Z" fill="#ED063D"/>
            <path d="M438.893 97.0002C446.957 97.0002 453.494 90.4634 453.494 82.3998C453.494 74.3362 446.957 67.7994 438.893 67.7994C430.83 67.7994 424.293 74.3362 424.293 82.3998C424.293 90.4634 430.83 97.0002 438.893 97.0002Z" fill="#ED063D"/>
            <path d="M246.091 138.198L237.888 146.401L246.091 154.603L254.294 146.401L246.091 138.198Z" fill="#ED063D"/>
            <path d="M67.6834 132.801H40.4827V160.002H67.6834V132.801Z" fill="#2595E8"/>
            <path d="M86.0837 119.001C88.6243 119.001 90.6838 116.941 90.6838 114.401C90.6838 111.86 88.6243 109.801 86.0837 109.801C83.5432 109.801 81.4836 111.86 81.4836 114.401C81.4836 116.941 83.5432 119.001 86.0837 119.001Z" fill="#ED063D"/>
            <path d="M374.092 36.3987C384.034 36.3987 392.093 28.3396 392.093 18.3982C392.093 8.4568 384.034 0.397705 374.092 0.397705C364.151 0.397705 356.092 8.4568 356.092 18.3982C356.092 28.3396 364.151 36.3987 374.092 36.3987Z" fill="#FFBF15"/>
            <path d="M417.093 104.001H396.292V124.801H417.093V104.001Z" fill="#ED063D"/>
            <path d="M269.812 82.3818L246.194 58.764L222.577 82.3818L246.194 106L269.812 82.3818Z" fill="#2595E8"/>
            <path d="M182.487 166.802C193.754 166.802 202.888 157.669 202.888 146.402C202.888 135.135 193.754 126.001 182.487 126.001C171.22 126.001 162.086 135.135 162.086 146.402C162.086 157.669 171.22 166.802 182.487 166.802Z" fill="#ED063D"/>
            <path d="M20.2236 64.3009L0 84.5245L20.2236 104.748L40.4473 84.5245L20.2236 64.3009Z" fill="#FFBF15"/>
        </svg>
    </div>

</div>